# Points to the rt.jar of Java 1.4 (if you target that minimum version).
# Can be commented out, but for building releases it definitely should be set.
bootclasspath.path=C:/Program Files (x86)/Java/j2re1.4.0_04/lib/rt.jar

# Points to the ant.jar of Ant 1.5 (if you target that minimum version).
# Can be commented out, but for building releases it definitely should be set.
ant.jar.path=C:/Program Files (x86)/jars/ant-1.5.jar
