* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.42857143;
  background-color: #eee;
}

body {
  font-size: 14px;
  margin: 0;
}

a {
  color: #168316;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.42857143;
}

h1 { font-size: 27px; }
h2 { font-size: 24px; }
h3 { font-size: 21px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

hr {
  height: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #ddd;
}

.warning {
  color: #B00;
}

.logo-banner {
  background-color: #e5e5e5;
  /* background-image: url(logo-banner-background.png); */
  border-bottom: 1px solid #CFCFCF;
  padding: 6px 0;
}

.logo-banner a {
  display: block;
}

.logo-banner img {
  width: 100px;
  height: 29px;
  display: block;
}

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #eee;
  /* background-image: url(header-footer-background.png); */
  border-bottom: 1px solid #ddd;
}

.site-header h1 {
  margin: 0;
}

.site-header .home-header {
  text-align: center;
}

.site-header .home-header img {
  width: 243px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .site-header .pagers {
    float: right;
  }
}

.pagers a img {
  transition: opacity ease-in-out .2s;
}

.pagers a:hover img {
  opacity: .5;
}

.site-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .site-width {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .site-width {
    width: 944px;
  }
}

@media (min-width: 1200px) {
  .site-width {
    width: 1152px;
  }
}

.page-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFF;
}

.toc-header {
  font-size: 18px;
}

.table-of-contents a {
  display: block;
  max-width: 400px;
}

.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #eee;
  /* background-image: url(header-footer-background.png); */
  border-top: 1px solid #ddd;
}

.site-footer .pagers {
  float: left;
}

.site-footer .pagers a:last-child {
  margin-left: 12px;

}

.site-footer .generated {
  text-align: right;
}

.site-footer .external-links {
  text-align: right;
  margin-top: 15px;
}

.site-footer .external-links a {
  display: inline-block;
  margin-left: 9px;
}

pre,
tt,
code {
  font-size: 14px;
  font-family: Courier, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}

pre {
  display: block;
  padding: 9px;
  margin: 0 0 9px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  background-color: #f5f5f5;
  1px solid #ccc;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
}


tt,
code {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1px 3px;
  color: #6D180B;
}

code a {
  color: #c00;
}

.report-bugs {
  background: url(bug.png) no-repeat;
  padding-left: 40px;
}

.report-bugs .strong {
  color: #c00;
  font-size: 16px;
}
