* {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #333333;
  line-height: 1.42857143;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: url(header-footer-background.png);
  overflow-y: scroll;
}
body {
  margin: 0;
  font-size: 14px;
}
a {
  color: #168316;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-weight: normal;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
hr {
  height: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #dddddd;
}
code,
tt,
pre {
  font-size: 14px;
  font-family: Courier, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
}
tt,
code {
  background-color: #f9f9f9;
  border-radius: 4px;
  padding: 1px 3px;
  color: #6D180B;
}
tt a,
code a {
  color: #c00;
}
pre {
  display: block;
  padding: 9px;
  margin: 0 0 9px;
  word-break: normal;
  word-wrap: break-word;
  white-space: pre;
  background-color: #f9f9f9;
  line-height: 1.42857143;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
.site-header {
  background-image: url(header-footer-background.png);
  border-bottom: 1px solid #dddddd;
}
.site-header h1 {
  margin: 0;
}
.site-header .logo {
  display: block;
}
.site-header .logo img {
  display: block;
}
.site-header .home-site-header {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header .home-site-header .logo img {
  width: 243px;
  height: 70px;
  margin: 0 auto;
}
.site-header .inner-site-header {
  padding-top: 12px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ie8 .site-header .inner-site-header {
  display: block;
}
.ie8 .site-header .inner-site-header::before,
.ie8 .site-header .inner-site-header::after {
  content: " ";
  display: table;
}
.ie8 .site-header .inner-site-header::after {
  clear: both;
}
.ie8 .site-header .inner-site-header .header-left {
  float: left;
}
.ie8 .site-header .inner-site-header .header-right {
  float: right;
}
.site-header .inner-site-header .logo img {
  width: 121px;
  height: 35px;
}
.page-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #FFF;
  min-height: 300px;
}
.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #dddddd;
}
.site-footer .footer-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ie8 .site-footer .footer-inner {
  display: block;
}
.ie8 .site-footer .footer-inner::before,
.ie8 .site-footer .footer-inner::after {
  content: " ";
  display: table;
}
.ie8 .site-footer .footer-inner::after {
  clear: both;
}
.ie8 .site-footer .footer-inner .footer-left {
  float: left;
}
.ie8 .site-footer .footer-inner .footer-right {
  float: right;
}
.site-footer .pagers a:last-child {
  margin-left: 12px;
}
.site-footer .generated {
  text-align: right;
}
.site-footer .external-links {
  text-align: right;
  margin-top: 15px;
}
.site-footer .external-links a {
  display: inline-block;
  margin-left: 9px;
}
.breadcrumbs {
  list-style-type: none;
  margin: 12px 0 0 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs li:last-child a {
  color: #333333;
}
.breadcrumbs .icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 1px;
}
.pagers a {
  display: inline-block;
}
.pagers a img {
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.pagers a:hover img {
  opacity: .5;
}
.report-bugs {
  background: url(bug.png) no-repeat;
  padding-left: 40px;
}
.report-bugs .strong {
  color: #cc0000;
  font-size: 16px;
}
.toc-header {
  font-size: 18px;
}
.table-of-contents a {
  display: block;
  max-width: 400px;
}
.site-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.ie8 .site-width {
  width: 944px;
}
@media (min-width: 768px) {
  .site-width {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .site-width {
    width: 944px;
  }
}
@media (min-width: 1200px) {
  .site-width {
    width: 1152px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.warning {
  color: #cc0000;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-ink81q');
  src: url('../fonts/icomoon.eot?#iefix-ink81q') format('embedded-opentype'), url('../fonts/icomoon.woff?-ink81q') format('woff'), url('../fonts/icomoon.ttf?-ink81q') format('truetype'), url('../fonts/icomoon.svg?-ink81q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before {
  content: "\e600";
}
.icon-house:before {
  content: "\e601";
}
.icon-new:before {
  content: "\e602";
}
.icon-warning:before {
  content: "\e603";
}
.icon-folder:before {
  content: "\e604";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-right2:before {
  content: "\e607";
}
.icon-github:before {
  content: "\e609";
}
.icon-twitter:before {
  content: "\e60a";
}
